<ion-view view-title="About" hide-nav-bar="false" ng-init="Init()">

  <ion-content padding="false" delegate-handle="example-scroller" elastic-header="example-elastic-header" overflow-scroll="false">
    <div id="example-elastic-header" class="incenter" bg-image="{{headerImage}}">
      <br><br>
      <div class="card trcard ">
        <div class="item item-text-wrap ">
          <h2 class="calm"><b>About us</b></h2>
        </div>
      </div>
      
    </div>

	<div class="card">
	  <div class="item item-divider">
	    General Information
	  </div>
	  <div class="item item-text-wrap " style="text-align:justify; " >
			Brahma Kumaris is a worldwide spiritual movement dedicated to personal transformation and world renewal. Founded in India in 1937, Brahma  Kumaris has <b style="color:#008cba">spread to over 136 countries</b> on all continents and has had an extensive impact in many sectors as an international NGO. However,their real commitment is to helping individuals transform their perspective of the world from material to spiritual. It supports the cultivation of a deep collective consciousness of peace and of the individual dignity of each soul.
	  </div>
	</div>
	<div class="card">
	  <div class="item item-divider">
	    International coordination
	  </div>
	  <div class="item item-text-wrap" style="text-align:justify; ">
			The spiritual headquarters of Brahma Kumaris is in Mount Abu, India. At a national level, activities are generally coordinated by local people in alignment with the spiritual principles of Brahma Kumaris, working in accordance with the laws of the land. Activities of international interest are coordinated regionally from offices in London, Moscow, Nairobi, New York and Sydney.
	  </div>
	</div>

	<div class="card">
	  <div class="item item-divider">
	    The role of women as spiritual leaders
	  </div>
	  <div class="item item-text-wrap" style="text-align:justify; ">
			<img src="img/d1.jpg">	<br>Brahma Kumaris is the largest spiritual organisation in the world led by women. It was the founder, Prajapita Brahma Baba, who chose to put women in front from the very beginning, and it has set Brahma Kumaris apart on the stage of the world's religions and spiritual organisations. For over 80 years their leadership has been characterised by steady courage, a capacity for forgiveness and a deep commitment to unity.
	  </div>
	</div>	

	<div class="card">
	  <div class="item item-divider" >
	    The Brahma Kumaris Story
	  </div>
	  <div class="item item-text-wrap" center style="text-align:justify; ">
			<img src="img/story.jpg">	<br>Mount Abu, high in the Aravali Mountains of Rajasthan, provided an ideal location for reflection and contemplation for the original group's move from Karachi in 1950. After a few years in a rented building, the community moved to the present site which remains the Prajapita Brahma Kumaris Ishwariya Vishwa Vidyalaya <strong>(Brahma Kumaris World Spiritual University)</strong>. The Brahma Kumaris spiritual headquarters is known as <strong style="color:red"> Madhuban (‘Forest of Honey')</style>.
	  </div>
	</div>
</ion-content>
</ion-view> 
   
