<ion-view view-title="Home" hide-nav-bar="false" ng-init="Init()">
  <ion-content  padding="false" class="incenter" delegate-handle="example-scroller" elastic-header="example-elastic-header" overflow-scroll="false">
    <div id="example-elastic-header" class="" bg-image="img/menu-bg.jpg"></div>

<!-- fb-image="img/bg.jpg" -->
<div class="row">

  <div class="col" center>
	<div class="card1">
	  <div class="item item-text-wrap">
	    Welcome to BKPune v<span class="version"></span>
	  </div>
	</div>
  </div>

</div>

<div class="row">

  <div class="col" center>
	<div class="card">
	  <div class="item item-divider bkpune-darkbg light">
	    Centers
	  </div>		
	  <div class="item item-text-wrap">
	    {{frcount}}
	  </div>
	</div>
  </div>
  <div class="col" center>
	<div class="card">
	  <div class="item item-divider bkpune-darkbg light">
	    Franchise
	  </div>		
	  <div class="item item-text-wrap">
	    {{ctcount}}
	  </div>
	</div>
  </div>
</div>

<div class="row">

  <div class="col" center>


	    <button class="button button-calm button-full " ng-click="startApp()"><i class="icon ion-search"></i> Center Search</button>

		<button class="button button-positive button-full " ng-click="searchFR()"><i class="icon ion-search"></i> Franchise Search</button>

  </div>

</div>
<button disabled ng-if="permit" ng-click="EnableLocation()" class="button button-{{permit?'balanced':'assertive'}}"><i class="icon ion-location"></i> Location Enabled</button>
<button ng-if="!permit" ng-click="EnableLocation()" class="button button-{{permit?'balanced':'assertive'}}"><i class="icon ion-location"></i> Allow Location</button>
  </ion-content>
</ion-view>
