<ion-view view-title="Home" hide-nav-bar="false" ng-init="Init()">
  <ion-content padding="false" class="incenter" delegate-handle="example-scroller" elastic-header="example-elastic-header" overflow-scroll="false">
    <div id="example-elastic-header" class="" ></div>

<!-- fb-image="img/bg.jpg" -->
<div class="row">

  <div class="col" center>

	<div class="card">
	  <div class="item item-divider">
	  	Welcome to BKPune
	  </div>		
	  <div class="item item-text-wrap">
	    v<span class="version"></span>
	  </div>
	</div>

  </div>

</div>

<div class="row">

  <div class="col" center>
	<div class="card">
	  <div class="item item-divider">
	  	
	    Centers
	  </div>		
	  <div class="item item-text-wrap">
	    {{frcount}}
	  </div>
	</div>
  </div>
  <div class="col" center>
	<div class="card">
	  <div class="item item-divider">
	  	
	    Franchise
	  </div>		
	  <div class="item item-text-wrap">
	    {{ctcount}}
	  </div>
	</div>
  </div>
</div>

<h4>Center Search</h4>
<div class="row">
  <div class="col" center>
	    <button class="button button-positive large_button" ng-click="CSearchByK()"></i>By Keywords</button>
  </div>
  <div class="col" center>
		<button class="button button-positive large_button" ng-click="CSearchByA()">By Area</button>
  </div>
</div>
<h4>Gitapathshala Search</h4>
<div class="row">
  <div class="col" center>
	    <button class="button button-calm large_button"" ng-click="startApp()">By Keywords</button>
  </div>
  <div class="col" center>
		<button class="button button-calm large_button" ng-click="searchFR()">By Area</button>
  </div>
</div>

<button disabled ng-if="permit" ng-click="EnableLocation()" class="button button-{{permit?'balanced':'assertive'}}"><i class="icon ion-location"></i> Location Enabled</button>
<button ng-if="!permit" ng-click="EnableLocation()" class="button button-{{permit?'balanced':'assertive'}}"><i class="icon ion-location"></i> Allow Location</button>
  </ion-content>
</ion-view>
