<ion-view view-title="News Details" ng-init="Init()">
  <ion-content padding="false" delegate-handle="example-scroller" elastic-header="example-elastic-header" overflow-scroll="false">
    <div id="example-elastic-header" class="incenter" bg-image="{{headerImage}}">
      <br><br>
      <div class="card trcard ">
        <div class="item item-text-wrap ">
          <h2 class="calm"><b>News</b></h2>
        </div>
      </div> 
    </div>

  <div class="list card" ng-repeat="news in newsItems">
    <div class="item item-thumbnail-left" ng-click="showDiv{{news.id}} = !showDiv{{news.id}}" ng-click="$('.target{{news.id}}').toggle();">
      <img src="{{center.center_photos[0].path?center.center_photos[0].path:'img/newsicon.png'}}">
      <h2 style="font-size:16px;color: #ff3607;font-weight: 500;">{{news.title}}</h2>
      <!--p>Created: {{news.created_at}}</p>
      <p>Published: {{news.published_at}}</p-->
    <p ng-bind-html="news.introductory"></p>
    <p ng-bind-html="news.slug"></p>

    </div>

    <div class="item item-body animated flipInX" ng-show="showDiv{{news.id}}">
      <img class="full-image" src="https://bkpuneapp.iocare.in/storage/app/media/{{news.image}}">
      <p ng-bind-html="news.content">
      </p>
      <p>
        <a href="#" class="subdued">1 Like</a>
        <a href="#" class="subdued">5 Comments</a>
      </p>
    </div>

  </div>
  </ion-content>
</ion-view>

 



